<ion-header>
  <ion-navbar color="dark">
    <ion-title align="center">
      Level 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 align="center" *ngIf="isLevelCompleted">You've Completed The Game!!</h3>
  <form #levelOneForm="ngForm" novalidate>
  <ion-grid>
    <ion-row class="display-top-row">
      <ion-col col-md-2>
          <span *ngIf="blockSum?.diaOneSum == 15">
            <img src="{{ beeImage }}"/>
          </span>
          <span *ngIf="blockSum?.diaOneSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>

      <!-- contains values -->
    <ion-col col-md-2>
        <span *ngIf="blockSum?.colOneSum == 15">
          <img src="{{ beeImage }}"/>
        </span>
        <span *ngIf="blockSum?.colOneSum != 15">
          <img src="{{ spiderImage }}"/>
        </span>
    </ion-col>
    <ion-col col-md-2>
        <span *ngIf="blockSum?.colTwoSum == 15">
          <img src="{{ beeImage }}"/>
        </span>
        <span *ngIf="blockSum?.colTwoSum != 15">
          <img src="{{ spiderImage }}"/>
        </span>
    </ion-col>
    <ion-col col-md-2>
        <span *ngIf="blockSum?.colThrSum == 15">
          <img src="{{ beeImage }}"/>
        </span>
        <span *ngIf="blockSum?.colThrSum != 15">
          <img src="{{ spiderImage }}"/>
        </span>
      </ion-col>
      <!-- end -->

      <ion-col col-md-2>
          <span *ngIf="blockSum?.diaTwoSum == 15">
            <img src="{{ beeImage }}"/>
          </span>
          <span *ngIf="blockSum?.diaTwoSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
    </ion-row>

    <ion-row class="row-one">
      <ion-col col-md-2>
          <div *ngIf="blockSum?.rowOneSum == 15">
            <img src="{{ beeImage }}"/>
          </div>
          <span *ngIf="blockSum?.rowOneSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>

      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-1" [(ngModel)]=rowOneValues.row1NumberOne name="row1NumberOne"
          #row1NumberOne="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row1NumberOne)">
          </ion-input>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-2" [(ngModel)]=rowOneValues.row1NumberTwo name="row1NumberTwo"
          #row1NumberTwo="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row1NumberTwo)">
          </ion-input>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-3" [(ngModel)]=rowOneValues.row1NumberThree name="row1NumberThree"
          #row1NumberThree="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row1NumberThree)">
          </ion-input>
        </ion-card>
      </ion-col>

      <ion-col col-md-2>
          <div *ngIf="blockSum?.rowOneSum == 15">
            <img src="{{ beeImage }}"/>
          </div>
          <span *ngIf="blockSum?.rowOneSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
    </ion-row>

    <ion-row class="row-two">
      <ion-col col-md-2>
          <div *ngIf="blockSum?.rowTwoSum == 15">
            <img src="{{ beeImage }}"/>
          </div>
          <span *ngIf="blockSum?.rowTwoSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-1" [(ngModel)]=rowTwoValues.row2NumberOne name="row2NumberOne"
          #row2NumberOne="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row2NumberOne)">
          </ion-input>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-2" [(ngModel)]=rowTwoValues.row2NumberTwo name="row2NumberTwo"
          #row2NumberTwo="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row2NumberTwo)">
          </ion-input>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-3" [(ngModel)]=rowTwoValues.row2NumberThree name="row2NumberThree"
          #row2NumberThree="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row2NumberThree)">
          </ion-input>
        </ion-card>
      </ion-col>

      <ion-col col-md-2>
          <div *ngIf="blockSum?.rowTwoSum == 15">
            <img src="{{ beeImage }}"/>
          </div>
          <span *ngIf="blockSum?.rowTwoSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
    </ion-row>

    <ion-row class="row-3">
      <ion-col col-md-2>
          <div *ngIf="blockSum?.rowThrSum == 15">
            <img src="{{ beeImage }}"/>
          </div>
          <span *ngIf="blockSum?.rowThrSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>

      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-1" [(ngModel)]=rowThrValues.row3NumberOne name="row3NumberOne"
          #row3NumberOne="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row3NumberOne)">
          </ion-input>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-2" [(ngModel)]=rowThrValues.row3NumberTwo name="row3NumberTwo"
          #row3NumberTwo="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row3NumberTwo)">
          </ion-input>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
        <ion-card>
          <ion-input type="number" placeholder="X" class="col-3" [(ngModel)]=rowThrValues.row3NumberThree name="row3NumberThree"
          #row3NumberThree="ngModel" (ngModelChange)="onValueChange($event, levelOneForm, row3NumberThree)">
          </ion-input>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
          <div *ngIf="blockSum?.rowThrSum == 15">
            <img src="{{ beeImage }}"/>
          </div>
          <span *ngIf="blockSum?.rowThrSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
    </ion-row>

    <ion-row class="display-bottom-row">
      <ion-col col-md-2>
          <span *ngIf="blockSum?.diaTwoSum == 15">
            <img src="{{ beeImage }}"/>
          </span>
          <span *ngIf="blockSum?.diaTwoSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
      <!-- contains values -->
      <ion-col col-md-2>
          <span *ngIf="blockSum?.colOneSum == 15">
            <img src="{{ beeImage }}"/>
          </span>
          <span *ngIf="blockSum?.colOneSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
      <ion-col col-md-2>
          <span *ngIf="blockSum?.colTwoSum == 15">
            <img src="{{ beeImage }}"/>
          </span>
          <span *ngIf="blockSum?.colTwoSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
      <ion-col col-md-2>
          <span *ngIf="blockSum?.colThrSum == 15">
            <img src="{{ beeImage }}"/>
          </span>
          <span *ngIf="blockSum?.colThrSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
      <!-- end -->

      <ion-col col-md-2>
          <span *ngIf="blockSum?.diaOneSum == 15">
            <img src="{{ beeImage }}"/>
          </span>
          <span *ngIf="blockSum?.diaOneSum != 15">
            <img src="{{ spiderImage }}"/>
          </span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLevelCompleted">
      <ion-col>
        <button ion-button outline color="dark" (click)="quitGame()">Quit</button>
			</ion-col>
    </ion-row>

    <ion-row *ngIf="isLevelCompleted">
      <ion-col>
        <button ion-button outline color="dark" block>LEVEL 2 CLEARED!</button>
			</ion-col>
    </ion-row>

    <ion-row responsive-sm *ngIf="isLevelCompleted">
			<ion-col>
        <button ion-button outline color="dark" (click)="restartLevel(levelOneForm)" block>Restart</button>
			</ion-col>
			<ion-col>
				<button ion-button outline color="dark" (click)="quitGame()" block>Return</button>
			</ion-col>
		</ion-row>
  </ion-grid>
</form>
</ion-content>
